venv/
screenshot/


# Data files (too large for GitHub)
data/*.csv
data/*.npy
data/*.jsonl

# ML models
ml/*.json
ml/*.pkl

# FAISS indexes
rag/*.index
rag/*.npy
rag/*.csv

# Environment
.env


# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# MLflow
mlruns/
notebooks/mlflow.db

# Docker
docker-compose.override.yml


task-definition.json
trust-policy.json

# screenshots
screenshots/A-B-testing.png
screenshots/Live_API_Monitoring.png
screenshots/Product Explorer-1.png
screenshots/Product Explorer-2.png
screenshots/Recommender.png
screenshots/Streamlit UI Amazon.mp4